/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-09-2017, 15:10:51
    Author     : tobbe
*/
<body>



div {
    width: 200px;
    padding: 5px;
    border: 5px solid brown;
    margin: 0; 
}

  body {
      color:#FFFDD0
    background-image: url("https://i.pinimg.com/736x/0a/b7/98/0ab79898f2e54fe35bd318ff6d21ffc3--cupcake-logo-fun-cupcakes.jpg");
    background-color: #d2691e;
    background-position: right;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font
}
h1 {
    color : #FFFDD0;
    text-align : center;
    font-family: "SIMPSON";
    
}
form {
    width: 300px;
    margin: 0 auto;
}